.main {
    background-color: #dddddd;
    max-width: 800px;
    border-radius: 10px;
    margin: 120px auto 0;
}

.main__title {
    text-align: center;
    padding: 30px;
}

@media(max-width: 840px) {
    .main {
        margin: 20px;
    }
}